@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,700");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9ebee;
}

code,
pre {
  font-family: consolas, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.single-post {
  height: 300px;
}

.single-post .thumbnail_wrap {
  min-width: 450px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  overflow: hidden;
  display: block;
}

.single-post .thumbnail {
  min-width: 100%;
  min-height: 100%;
  /* text-align: center;
  display: table-cell;
  vertical-align: middle; */
}
